{{py:pagename = 'listing'}}
{{inherit "base.html"}}

{{def scriptheader}}
<style type="text/css">
table.tracelist {
    border-collapse: collapse;
    border: 1px solid #AFAFAF;
}
table.tracelist th {
    text-align: center;
    border: 1px solid #AFAFAF;
}
table.tracelist td {
    border: 1px solid #AFAFAF;
    padding: 0.2em 0.4em;
}

thead tr {
    background: #CFCFCF;
}

tbody tr.odd {
    background: #EFEFEF;
}

</style>
{{enddef}}

<h2>Locator Traces</h2>

<form action="" method="get">
<input type="text" name="search" value="{{search}}" />
<input type="submit" value="Search" />
</form>

<p>
{{if traces.first()}}
&lt;&lt;
{{else}}
<a href="?{{if search}}search={{search}}&amp;{{endif}}page={{traces.pagenum - 1}}">&lt;&lt;</a>
{{endif}}
{{traces.pagenum}} / {{traces.totalpages}}
{{if traces.last()}}
&gt;&gt;
{{else}}
<a href="?{{if search}}search={{search}}&amp;{{endif}}page={{traces.pagenum + 1}}">&gt;&gt;</a>
{{endif}}
</p>

<table class="tracelist">
<thead>
<tr><th>Time</th><th>Target</th><th>System</th><th>Station</th><th>Agent</th><th>Submitter</th></tr>
</thead>
<tbody>
{{py: rowi = 0}}
{{for entry in traces.items}}
<tr {{if rowi % 2 == 1}}class="odd"{{endif}}{{py: rowi += 1}}>
  <td>{{entry.ts|eve_time}}</td>
  <td>{{entry.target}}</td>
  <td>{{entry.system}}</td>
  <td>{{entry.station}}</td>
  <td>{{entry.agent}}</td>
  <td>{{entry.submitter}}</td>
</tr>
{{endfor}}
</tbody>
</table>
