p {
    max-width: 66ex;
}

ul.tabs {
      list-style: none;
      padding: 0;
      margin: 1em 0 1px 0;
}

ul.tabs li {
      font-weight: bold;
      display: inline;
      background: #efefef;
      border: 1px solid #d4d4d4;
      padding: 0.2em 0.5em;
      margin: 0 1em 0 0;
}

ul.tabs li.active {
      background: #ffffff;
      border-bottom: 1px solid #ffffff;
}

#content {
      border: 1px solid #d4d4d4;
      padding: 1em;
      margin: 0;
}

.numeric {
    text-align: right;
}

.nobreak {
    white-space: nowrap;
}

table.data {
    border-collapse: collapse;
    border: 1px solid #AFAFAF;
}

table.data th, table.data td {
    padding: 0 0.5em;
    vertical-align: top;
    border-left: 1px solid #AFAFAF;
    border-right: 1px solid #AFAFAF;
}

table.data thead th, table.data thead td, table.data tfoot th, table.data tfoot td {
    background-color: #CFCFCF;
    border: #AFAFAF;
}

table.data thead th {
    text-align: center;
}

table.data tbody th {
    text-align: left;
}

table.data tbody tr.even td, table.data tbody tr.even th {
    background-color: #EFEFEF;
}

table.data tbody tr:hover {
    background-color: #DFDFDF;
}

table.data tbody tr:hover td {
    background-color: transparent;
}

.veryold {
    color: #FF0000;
}

.old {
    color: #FF8F00;
}

th.header, table.data th.header {
    background-image: url(/media/img/icons/ascdesc.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 21px;
}

th.headerSortUp, table.data th.headerSortUp {
    background-image: url(/media/img/icons/asc.png);
    background-color: #AFAFAF;
    padding-right: 21px;
}

th.headerSortDown, table.data th.headerSortDown{
    background-image: url(/media/img/icons/desc.png);
    background-color: #AFAFAF;
    padding-right: 21px;
}


ul.messages {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0;
}

ul.messages li {
    padding: 0.2em 1em;
}

ul.messages li.debug {
    border: 1px solid #AFAF5F;
    background-color: #FFFFAF;
}

ul.messages li.info {
    border: 1px solid #5FAF5F;
    background-color: #AFFFAF;
}

ul.messages li.error {
    border: 1px solid #AF5F5F;
    background-color: #FFAFAF;
}

ul.errorlist {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0;
}

ul.errorlist li {
    padding: 0.2em 1em;
    color: #FF0000;
}

/*
 * Standings
 */
table.standings {
  border-collapse: collapse;
}

table.standings tr td, table.standing tr th {
  text-align: left;
  padding: 0.1em 0.5em;
}

table.standings .odd {
  background-color: #efefef;
}

table.standings .even .enemy {
  background-color: #ff5050;
}
table.standings .odd .enemy {
  background-color: #ef4040;
}

table.standings .even .competitor {
  background-color: #ff9060;
}
table.standings .odd .competitor {
  background-color: #ef8050;
}

table.standings .even .blue {
  background-color: #6090ff;
}
table.standings .odd .blue {
  background-color: #5080ef;
}

.toolbutton {
    float: left;
    width: 12em;
    text-align: center;
    padding: 0.2em;
    cursor: pointer;
}

.toolbutton:hover {
    background-color: #EFEFEF;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    -khtml-border-radius: 23px;
    border-radius: 23px;
}

.toolbutton a {
    text-decoration: none;
}

/*
 * Channels
 */

ul.channels {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.channels li {
    margin: 0.5em;
    padding: 1em 2em;
    border: 1px solid #CFCFCF;
    background-color: #EFEFEF;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    -khtml-border-radius: 23px;
    border-radius: 23px;
}

ul.channels .title {
    font-size: large;
    font-weight: bold;
}

ul.channels .buttons form {
    display: inline;
}
ul.channels .buttons input, ul.channels .buttons button {
    width: 10em;
}

/* timezones */
table.tztable {
    border-collapse: collapse;
}

table.tztable th, table.tztable td {
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    padding: 0.5em 1em 0.5em 0;
}

table.tztable .tzcurrent th, table.tztable .tzcurrent td {
    background: #FFFFCF;
}

table.tztable .evt th, table.tztable .evt td {
    background: #CFCFCF;
}

/*
 * JQuery UI
 */

.ui-autocomplete {
  max-height: 10em;
  overflow-y: auto;
}
.ui-menu-item {
  text-align: left;
}
