{% extends "base.html" %}

{% block pagetitle %}Gradient Data Uploader{% endblock %}
{% block title %}Gradient{% endblock %}
{% block subtitle %}<h2>Freedom Through Strength. Strength Through Superior Datamining.</h2>{% endblock %}
{% block indexclass %} class="selected"{% endblock %}
{% block header %}
{% block appheader %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="appmenu">
  <ul>
    <li><a href="/uploader/">Overview</a></li>
    <li><a href="/uploader/files/gdu.exe">Download</a></li>
    <li><a href="/uploader/token/">Auth Token</a></li>
    <li><a href="/uploader/auto/">Upload</a></li>
  </ul>
</div>
{% block appcontent %}
{% endblock %}
{% endblock %}
