{% extends "recruitment/base.html" %}

{% block appcontent %}
<h1>Application Being Processed</h1>

<p>Thank you for applying to Gradient. Your application has been
  submitted to our recruitment officers for review. Please <b>allow
  for about one week</b> for us to read the interview and make a
  decision. In the meantime, please <b>join our public channel
  "Gradient"</b> and chat with us there.</p>

<p>You will hear from us when your application is processed.</p>

<p>
  <form method="post" action="">
    <input type="submit" value="Redo Application" />
  </form>
</p>
{% endblock %}
