{{py:admin_page = 'api'}}
{{def scriptheader}}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/separators.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#jsexplanation").html("<p>Click on the group names to show members.</p> <p><span id=\"hideall\">Hide all</span> / <span id=\"showall\">Show all</span></p>");
  $(".shelement").hide();
  $(".showhide > .shclick").click(function() {
    $(this).next(".shelement").toggle();
  });
  $("#hideall").click(function() {
    $(".shelement").hide();
  });
  $("#showall").click(function() {
    $(".shelement").show();
  });
});
</script>
{{enddef}}

{{inherit "base.html"}}

<h2>API Authentication</h2>
<div id="jsexplanation"></div>

{{py:
allynames = alliances.keys()
allynames.sort()
allynames.remove("Electus Matari")
allynames.insert(0, "Electus Matari")
}}
{{for ally in allynames}}
<h2>{{ally or "No Alliance"}}</h2>
{{py:
corps = alliances[ally]
corpnames = corps.keys()
corpnames.sort()
}}

{{for corp in corpnames}}
<div class="showhide">
<h3 class="shclick">{{corp or "No Corp - bad username"}} ({{len(corps[corp])}})</h3>
<ul class="shelement">
{{for member in corps[corp]}}
{{py:
days = (now - active[member]).days
if days < 1:
    since = "today at"
else:
    since = "%i days ago on" % days

if days > 30:
    color = "#FF0000"
elif days > 7:
    color = "#FF7F00"
else:
    color = "#000000"
}}
<li style="color: {{color}}">{{member}} ({{since}} {{active[member]|eve_time}})</li>
{{endfor}}
</ul>
</div>
{{endfor}}
{{endfor}}
