{{inherit "../base.html"}}

{{def title}}
Electus Matari: Admin Panel
{{enddef}}

{{def tabs}}
<ul class="tabs">
  <li {{if admin_page == 'logs'}}class="active"{{endif}}><a href="/admin/">Logs</a></li>
  <li {{if admin_page == 'permissions'}}class="active"{{endif}}><a href="/admin/permissions/">Permissions</a></li>
  <li {{if admin_page == 'groups'}}class="active"{{endif}}><a href="/admin/groups/">Groups</a></li>
  <li {{if admin_page == 'api'}}class="active"{{endif}}><a href="/admin/api/">API</a></li>
  <li {{if admin_page == 'tinfoil'}}class="active"{{endif}}><a href="/admin/tinfoil/">Tinfoil</a></li>
  <li {{if admin_page == 'combat'}}class="active"{{endif}}><a href="/admin/combat/">Combat</a></li>
</ul>
{{enddef}}

{{self.body|html}}
