{{py:admin_page = 'tinfoil'}}
{{inherit "base.html"}}

<h2>EM Tin Foil Group</h2>
<ul>
{{for username, userid, title, lastactive in emusers}}
{{py:
days = (now - lastactive).days
if days < 1:
    since = "today at"
else:
    since = "%i days ago on" % days
}}
<li><span style="color: blue; cursor: pointer" onClick="CCPEVE.showInfo(1379, {{userid}})">{{username}}</span> - {{since}} {{lastactive|eve_time}} ({{title}})</a></li>
{{endfor}}
</ul>

<h2>GRD Tin Foil Group</h2>
<ul>
{{for username, userid, title, lastactive in grdusers}}
{{py:
days = (now - lastactive).days
if days < 1:
    since = "today at"
else:
    since = "%i days ago on" % days
}}
<li><span style="color: blue; cursor: pointer" onClick="CCPEVE.showInfo(1379, {{userid}})">{{username}}</span> - {{since}} {{lastactive|eve_time}} ({{title}})</a></li>
{{endfor}}
</ul>

</body></html>
