{% extends "base.html" %}

{% block title %}Channels{% endblock %}

{% block tabs %}
<ul class="tabs">
<li {% ifequal tab 'mandatory' %}class="active"{% endifequal %}><a href="/tools/channels/">Mandatory</a></li>
<li {% ifequal tab 'alliance' %}class="active"{% endifequal %}><a href="/tools/channels/alliance/">Alliance</a></li>
<li {% ifequal tab 'intel' %}class="active"{% endifequal %}><a href="/tools/channels/intel/">Intel</a></li>
<li {% ifequal tab 'COA' %}class="active"{% endifequal %}><a href="/tools/channels/COA/">COA</a></li>
<li {% ifequal tab 'other' %}class="active"{% endifequal %}><a href="/tools/channels/other/">Other</a></li>
<li {% ifequal tab 'changelog' %}class="active"{% endifequal %}><a href="/tools/channels/changelog/">Changelog</a></li>
</ul>
{% endblock %}

{% block body %}
{% block content %}
{% endblock %}
{% endblock %}
