{% extends "base.html" %}
{% block pagetitle %}Gradient{% endblock %}
{% block title %}Gradient{% endblock %}
{% block subtitle %}<h2>Freedom Through Strength. Strength Through Industry.</h2>{% endblock %}
{% block shopclass %} class="selected"{% endblock %}

{% block content %}
<img src="/media/img/nidhoggur.jpg"
     style="float: right; margin: 0 0 0.5em 0.5em" />
<h1>Gradient Shop</h1>

<p>Gradient offers discount prices to pilots supporting the Republic.
  If you have positive standings with our alliance, Electus Matari,
  you can order items using our order tracker.</p>

<ul>
  <li><a href="http://www.electusmatari.com/standings/">Electus Matari Standings</a></li>
  <li><a href="http://www.electusmatari.com/forums/forumdisplay.php?fid=134">Order Tracker</a></li>
</ul>
{% endblock %}
