{% extends "industry/base.html" %}

{% block scriptheader %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript">
var type_list = [];
var timer = null;

function check () {
  $("#status").html("Running");
  var elt = type_list.pop();
  var typename = elt[0];
  var typeid = elt[1];
  CCPEVE.showMarketDetails(typeid);
  typelistinfo(typename);
  if (timer) {
    clearTimeout(timer);
    timer = null;
  }
  if (type_list.length > 0) {
    timer = setTimeout("check()", 3000);
  } else {
    pause();
    $("#status").html("Finished");
  }
}

function start () {
  $("#button").click(pause);
  $("#button").html("Pause");
  $("#status").html("Starting");
  if (timer) {
    clearTimeout(timer);
    timer = null;
  }
  timer = setTimeout("check()", 3000);
}

function pause () {
  $("#button").click(start);
  $("#button").html("Start");
  $("#status").html("Paused");
  if (timer) {
    clearTimeout(timer);
  }
}

function typelistinfo (current) {
  var minutes = type_list.length * 3.0 / 60;
  minutes = Math.round(minutes*10)/10;
  var html = "";
  if (current) {
    html = "Checking " + current + ". ";
  }
  html += type_list.length + " entries in the type list, ETA " +
    minutes + " minutes";
  $("#typelistinfo").html(html);
}

function reset () {
  pause();
  var uploadtype = $("#uploadtype option:selected").attr("value");
  $("#typelistinfo").html("Loading ...");
  $.ajax({
    url: '/industry/json/autoupload/?uploadtype=' + uploadtype,
    success: function (new_types) {
      type_list = new_types;
      type_list.reverse();
      typelistinfo();
    }
  });
}

$(function () {
  CCPEVE.requestTrust('http://gradient.electusmatari.com/');
  $("#button").click(start);
  $("#button").html("Start");
  $("#uploadtype").change(reset);
  reset();
});
</script>
{% endblock %}

{% block appcontent %}
<h1>Autoupload</h1>

<p>Automatic market update.</p>

<p><button onClick="CCPEVE.showMarketDetails(34)">Open your market
window</button> and select one of the two tabs:</p>

<dl>
  <dt><b>Price History</b></dt>
  <dd>Used for the Gradient Material Index. You need to have
  the <a href="http://www.electusmatari.com/gmi/uploader/">Electus
  Matari Uploader</a> set up and running.</dd>

  <dt><b>Market Data</b></dt>
  <dd>Used for competition price checks and market price calculation.
  You need to have
  the <a href="http://eve-central.com/home/software.html">EVE Central
  Contribtastic</a> set up and running.</dd>
</dl>

<select id="uploadtype" name="uploadtype">
<option selected="selected" value="history">Price History</option>
<option value="orders">Market Data</option>
</select>

<div id="typelistinfo">Loading...</div>

<h2>Status</h2>

<div id="status">Stopped</div>

<button id="button" />Start</button>
{% endblock %}
