{{inherit "../base.html"}}

{{def title}}
Electus Matari: Authentication
{{enddef}}

{{def tabs}}
<ul class="tabs">
  <li {{if pagename == 'info'}}class="active"{{endif}}><a href="/auth/">Authentication</a></li>
  <li {{if pagename == 'update'}}class="active"{{endif}}><a href="/auth/update/">Update Details</a></li>
  <li {{if pagename == 'faq'}}class="active"{{endif}}><a href="/auth/faq/">FAQ</a></li>
{{if user.has_permission('em')}}
  <li {{if pagename == 'channels'}}class="active"{{endif}}><a href="/auth/channels/">Channels</a></li>
{{endif}}
{{if user.has_permission('corpadmin')}}
  <li {{if pagename == 'corp'}}class="active"{{endif}}><a href="/auth/corp/">Corp Admin</a></li>
{{endif}}
</ul>
{{enddef}}

{{self.body|html}}
