{{inherit "base.html"}}
{{py:pagename = 'channels'}}

<h1>Channels</h1>

<p>Electus Matari members have access to a number of channels. This
  page lists most of them and offers you to join them with a simple
  press of a button.</p>

<p>This requires the neocom-based browser. If the buttons below do
  not work, please trust this site by hitting the following button:<br />
  <button onclick="CCPEVE.requestTrust('http://www.electusmatari.com/auth/')">Trust</a></p>

<h2>Mandatory Channels</h2>

<p>These channels are mandatory for members of Electus Matari to
join.</p>

<dl class="spaced">
  <dt>(( <strong>OOC_EM</strong></dt>
  <dd>
    The Out-Of-Character (OOC) channel for the alliance. Alliance chat
    is fully in-character (IC) - it's the place where our characters
    interact. If there are problems with the roleplay (RP), this
    should be solved here. Also, discussing the latest football
    results and other fully OOC things should happen here.<br />
    <button onclick="CCPEVE.joinChannel('OOC_EM')">Join!</button>
    <br /> ))
  </dd>

  <dt><strong>Operations - EM</strong></dt>
  <dd>
    Main combat channel, shared with our allies. It's a very good idea
    to join for anyone, as war target intel is posted here as well.<br />
    <button onclick="CCPEVE.joinChannel('Operations - EM')">Join!</button>
  </dd>
</dl>

<h2>Other Channels</h2>

<p>These channels can be useful, but if you do not want to join them,
that is up to you.</p>

<dl class="spaced">
  <dt><strong>Orientation - EM</strong></dt>
  <dd>
    A channel set up especially for new members of the alliance and
    new pod pilots. You are welcome and encouraged to ask any and all
    questions in this channel. We have experienced pilots there who
    want to answer them for you.<br />
    <button onclick="CCPEVE.joinChannel('Orientation - EM')">Join!</button>
  </dd>

  <dt><strong>Public - EM</strong></dt>
  <dd>
    The alliance's public diplomatic channel. If you're in here, you'd
    best be tactful, as the people here are those we are looking to
    pursue useful relations with.<br />
    <button onclick="CCPEVE.joinChannel('Public - EM')">Join!</button>
  </dd>

  <dt><strong>Meetings - EM</strong></dt>
  <dd>
    Sometimes, a group in EM wants to do a meeting to discuss a
    certain topic. This channel is then used. Please do not hang
    around it while you are not participating in any meeting.<br />
    <button onclick="CCPEVE.joinChannel('Meetings - EM')">Join!</button>
  </dd>
</dl>

<h2>Intel Channels</h2>

<p>Most regions have more or less public intel channels to warn the
inhabitants of hostile movements. Electus Matari maintains two of
them, and has access to a few others.</p>

<dl class="spaced">
  <dt><strong>Molden Intel</strong></dt>
  <dd>
    Public intel channel for Molden Heath. Good to be in if you travel
    on Molden Heath low-sec.<br />
    <button onclick="CCPEVE.joinChannel('Molden Intel')">Join!</button>
  </dd>

  <dt><strong>Republic Intel</strong></dt>
  <dd>
    Public intel channel for Heimatar and Metropolis. Good to be in
    while travelling through the low-sec areas of these regions.<br />
    <button onclick="CCPEVE.joinChannel('Republic Intel')">Join!</button>
  </dd>

  <dt><strong>IntelOfGW</strong></dt>
  <dd>
    Intel channel of Great Wildlands, maintained by Republic Alliance.<br />
    <button onclick="CCPEVE.joinChannel('IntelOfGW')">Join!</button>
  </dd>

  <dt><strong>True Intel</strong></dt>
  <dd>
    Intel channel of Great Wildlands, maintained by True Reign.<br />
    <button onclick="CCPEVE.joinChannel('True Intel')">Join!</button>
  </dd>
</dl>

<h2>Restricted Access Channels</h2>

<p>These are the very secret channels of Electus Matari. Due to
security concerns, not everyone has access.</p>

<dl class="spaced">
  <dt><strong>Capitals - EM</strong></dt>
  <dd>
    A channel for capital pilots, used primarily during operations.
    See <a href="http://www.electusmatari.com/forums/showthread.php?tid=4399">this
    post</a> for details on how to get access. <br />
    <button onclick="CCPEVE.joinChannel('Capitals - EM')">Join!</button>
  </dd>

  <dt><strong>Commanders - EM</strong></dt>
  <dd>
    Fleet Commander discussion channel. Op preparations, some intel.
    Access is given once you have regularly run combat
    operations.<br />
    <button onclick="CCPEVE.joinChannel('Commanders - EM')">Join!</button>
  </dd>

  <dt><strong>Directors - EM</strong></dt>
  <dd>
    Discussion channel for the directors and council members of the
    alliance.<br />
    <button onclick="CCPEVE.joinChannel('Directors - EM')">Join!</button>
  </dd>
</dl>
