{{inherit "base.html"}}
{{py:pagename = 'faq'}}

<h3>Q: What is the EVE API?</h3>

<p><b>A:</b> The EVE API is an "application programming interface"
  provided by CCP to allow third-party software to retrieve
  information from the EVE server.</p>
<p>You can find more
  information <a href="http://www.eveonline.com/api/doc/default.asp">here</a>
  and <a href="http://wiki.eve-id.net/APIv2_Page_Index">here</a>.</p>

<h3>Q: Where do I find my API key?</h3>

<p><b>A:</b> You can get your user ID and API
  key <a href="http://www.eveonline.com/api/default.asp">here</a>.
  Please make sure that you use your <i>limited</i> API key.</p>

<h3>Q: I gave my API key my old corp. Will they not be able to
  authenticate themselves with it?</h3>

<p><b>A:</b> Yes, though I will notice the authentication in the logs
  and ask what is going on. When you have given your API key to
  anyone, and leave that organization, please do make sure they can't
  use it anymore. For this, you can just create a new API
  key <a href="http://www.eveonline.com/api/default.asp">on the EVE
  homepage.</a> The same holds for when you leave EM, of course -
  please do disable your key then!</p>

<h3>Q: How will you use my API key?</h3>

<p><b>A:</b> Your API key will be used solely and exclusively for forum
  authentication. This is an OOC promise, too, in case you have RP
  doubts :-).</p>

<h3>Q: Is this secure?</h3>

<p><b>A:</b> As secure as it can get. Your API key is stored in a
  database that only Arkady Sadik has access to. The database is
  separate from the forum database, so even if the forums are
  compromised, the API keys will not be accessible. But of course,
  access to the full site this runs on will give out the API keys,
  too.</p>

<p>You can see what API calls are being made on
  the <a href="http://www.eveonline.com/api/log.asp">API log</a>, and
  revoke your API key if something weird is happening.</p>

<h3>Q: What could someone find out with the limited API key?</h3>

<p><b>A:</b> In case the API keys will ever get compromised (or Arkady
  turns to the dark side and breaks a promise), the following is a
  list of API calls that are possible with the limited API key, and
  what information they reveal.<br />
  <i>Please do make sure that you only submit your limited API key,
  never the full key!</i></p>

<p>Again, the EM forums will only ever use the first API call listed
  here.</p>

<dl>
<dt><tt>/account/Characters.xml.aspx</tt></dt>
<dd>Returns a list of all characters on the account, together with
  their corporations. This is the API call used for forum
  authentication.</dd>

<dt><tt>/char/CharacterSheet.xml.aspx</tt></dt>
<dd>Most information from the character sheet, including skills and
  skill points, the wallet balance, implants in use, certificates,
  clone, and your corporation roles and titles.</dd>

<dt><tt>/char/FacWarStats.xml.aspx</tt></dt>
<dd>If the character is enlisted in Factional Warfare, this will
  return the faction the character is enlisted in, the current rank
  and the highest rank the character ever had attained, and how many
  kills and victory points he made yesterday, in the last week, and
  total.</dd>

<dt><tt>/char/Medals.xml.aspx</tt></dt>
<dd>A list of medals the character has, including non-public
  ones.</dd>

<dt><tt>/char/SkillInTraining.xml.aspx</tt></dt>
<dd>The skill currently in training.</dd>

<dt><tt>/char/SkillQueue.xml.aspx</tt></dt>
<dd>The full skill queue of the character.</dd>

<dt><tt>/char/Standings.xml.aspx</tt></dt>
<dd>All standings of the character with agents, NPC corporations and
  factions, as well as his private standings to characters and
  corporations.</dd>

<dt><tt>/corp/CorporationSheet.xml.aspx</tt></dt>
<dd>All sorts of information on the corporation. In addition to the
  normal "show info" information, this also lists hangar and wallet
  division names (but not balances), as well as the maximum member
  limit.</dd>

<dt><tt>/corp/FacWarStats.xml.aspx</tt></dt>
<dd>The same as the FacWarStats for the character, just for the
  corporation: Which faction it is enlisted in, and how many kills and
  victory points it made yesterday, in the last week, and total.</dd>

<dt><tt>/corp/Medals.xml.aspx</tt></dt>
<dd>A list of medals the corporation has created, their titles,
  descriptions, who created them, and when.</dd>
</dl>

<p>This is, to my knowledge, the full list of API calls possible with
  the limited API key.</p>
