{{inherit "base.html"}}
{{py:pagename = 'info'}}

{{if last_attempt}}
  {{if authenticated}}
<p>Authentication status: <font color="#00AF00">Success</font> (last checked
  {{last_attempt|eve_time}}).</p>
<p>{{message}}</p>
  {{else}}
<p>Authentication status: <font color="#AF0000">Failed</font> (last checked
  {{last_attempt|eve_time}}).</p>
<p>{{message}}</p>
    {{if disabled}}
<p>No further attempts on authentication will be done until
you <a href="/auth/update/">update your details</a>.</p>
    {{endif}}
  {{endif}}
{{else}}
<p>You have not submitted your API key yet.
Please <a href="/auth/update/">update your details</a>.</p>
{{endif}}

{{if authenticated}}
<form method="get" action="/auth/avatar/">
<input type="submit" value="Use my pilot portrait as avatar" />
</form>
{{endif}}
