{{inherit "base.html"}}
{{py:pagename = 'update'}}

<p>The Electus Matari forums grant access to users via API key
  authentication. That means that we use the CCP-provided API to check
  which corporation and alliance you belong to, and automatically give
  you access based on this.</p>

<p>For this, we need your <i>limited</i> API key <i>only.</i></p>

<p>You can find further information here:<br />
<a href="http://www.eveonline.com/api/">http://www.eveonline.com/api/</a></p>

<p><i>Leave the fields empty to re-use an API key you have stored
already, if any.</i></p>

<form method="post" action="">
<table>
<tr><td><strong>User ID:</strong></td>
  <td>Example: <tt>2401037</tt><br />
    <input type="text" name="userid" size="7" autocomplete="off" /></td></tr>
<tr><td><strong>API Key:</strong></td>
  <td>Example: <tt>Z9XIBCGLCCG97A57I9T46EUONF3WSM5MYWB4ZG8D06M0AO7GMDC8ER4SSXC7HN46</tt><br />
    <input type="text" name="apikey" size="64" autocomplete="off" /></td></tr>
</table>
<input type="submit" value="Update Details" />
</form>
