{% extends "base.html" %}
{% block pagetitle %}Gradient{% endblock %}
{% block title %}Gradient{% endblock %}
{% block subtitle %}<h2>Freedom Through Strength. Strength Through Industry.</h2>{% endblock %}

{% block content %}
<h1>500 Internal Server Error</h1>

<p>Your request caused an internal server error. The administrators
  have been notified and will look into this as soon as possible. You
  can try again in a few minutes, but if the error persists, you will
  have to try some other time. We are sorry for the inconvenience.</p>
{% endblock %}
