{% extends "base.html" %}
{% block pagetitle %}Gradient Industry{% endblock %}
{% block title %}Gradient Industry{% endblock %}
{% block subtitle %}<h2>Freedom Through Strength. Strength Through Industry.</h2>{% endblock %}
{% block employeesclass %} class="selected"{% endblock %}
{% block header %}
{% block scriptheader %}
{% endblock %}
{% block appheader %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="appmenu">
  <ul>
    <li><a href="/industry/">Overview</a></li>
    <li><a href="/industry/prices/">Price List</a></li>
    <li><a href="/industry/marketorders/">Market Orders</a></li>
    <li><a href="/industry/marketorders/config/">Market Config</a></li>
    <li><a href="/industry/stocks/">Stock Levels</a></li>
    <li><a href="/industry/stocks/watched/">Watched Stocks</a></li>
    <li><a href="/industry/bpos/">BPOs</a></li>
    <li><a href="/industry/transactions/">Transactions</a></li>
    <li><a href="/industry/profitability/">Profitability</a></li>
  </ul>
</div>
{% block appcontent %}
{% endblock %}
{% endblock %}
