{{inherit "base.html"}}
{{py:pagename = 'index'}}

<h2>Gradient Corporate Overview</h2>

<p>Freedom through strength,<br />
Strength through industry.</p>

<ul>
<li><a href="http://gradient.electusmatari.com/">Gradient Website</a></li>
<li><a href="http://www.electusmatari.com/forums/forumdisplay.php?fid=119">Forums</a></li>
<li><a href="http://gradient.orava.org/wiki/">Wiki</a> (( password in the motd of OOC-GRD ))</li>
<li><a href="http://www.electusmatari.com/gmi/">Material Index</a></li>
<li><a href="http://www.electusmatari.com/forums/forumdisplay.php?fid=137">Order Tracker</a></li>
<li><a href="http://www.electusmatari.com/gradient/deliveries.cgi">Deliveries Overview</a></li>
<li><a href="http://kivimaa.fi/hauling.html">Mineral Stock Requests</a></li>
</ul>
