{{inherit "base.html"}}
{{py:pagename = 'orders'}}

{{def scriptheader}}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/js/calc.js"></script>
<script type="text/javascript">
$(function () {
    $("#orders").tablesorter({
        widgets: ['zebra']
    });
});
</script>

<style type="text/css">
body {
    font-family: sans-serif;
}

#searchdiv span {
    border: 2px solid black;
    padding: 0.5em 1em;
}
#searchdiv {
    margin: 1em 0;
}

.data, .result {
    border-collapse: collapse;
    border: 1px solid #AFAFAF;
}

.data th, .result th {
    background: #CFCFCF;
    border: #AFAFAF;
}
.totalprice {
    background: #CFCFCF;
}

.data td, .result td {
    padding: 0 0.5em;
}

.odd {
    background: #EFEFEF;
}

.numeric {
    text-align: right;
}

.total th {
    text-align: left;
}

.modifier {
    margin-bottom: 1em;
}
</style>
{{enddef}}

<h2>Gradient Market Buy Orders</h2>

<table id="orders" class="data">
<thead>
<tr>
 <th>Station</th>
 <th>Type</th>
 <th>Entered</th>
 <th>Remaining</th>
 <th>Price (p.u.)</th>
 <th>Escrow</th>
 <th>Owner</th>
 <th>Issued</th>
 <th>Expires</th>
</tr>
</thead>
<tbody>
{{for order in orders}}
<tr>
 <td>{{order.station}}/{{order.range}}</td>
 <td>{{order.typename}}</td>
 <td class="numeric">{{order.volentered}}</td>
 <td class="numeric">{{order.volremaining}}</td>
 <td class="numeric">{{order.price}}</td>
 <td class="numeric">{{order.escrow}}</td>
 <td>{{order.pilot}}</td>
 <td>{{order.issued.strftime("%Y-%m-%d %H:%M")}}</td>
 <td>{{(order.issued + order.duration).strftime("%Y-%m-%d %H:%M")}}</td>
</tr>
{{endfor}}
</tbody>
</table>
