{{inherit "base.html"}}
{{py:pagename = 'pi'}}

{{def scriptheader}}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function () {
    data = {{data|html}};
    function write_table () {
        needle = new RegExp($("#filter").val().replace("(", "\\(").replace(")", "\\)"), "i");
        html = '<table id="thetable" class="data"><thead><tr><th>Typename</th><th>Heimatar</th><th>Production</th><th>Profit</th><th>Volume</th><th>Volume Profit</th><th>Jita</th><th>Production (Jita)</th></tr></thead><tbody>';
        for (rowi in data) {
            row = data[rowi];
            tn = row[0]; index = row[1]; prod = row[2]; profit = row[3];
            vol = row[4]; jita_index = row[5]; jita_prod = row[6];
            volprofit = (index - prod) * vol;
            if (tn.search(needle) == -1) {
                continue;
            }
            html += '<tr>';
            html += '<td>' + tn + '</td>';
            html += '<td class="price">' + (index).toFixed(2) + '</td>';
            html += '<td class="price">' + (prod).toFixed(2) + '</td>';
            html += '<td class="quantity">' + (profit*100).toFixed(2) + '%</td>';
            html += '<td class="quantity">' + vol + '</td>';
            html += '<td class="quantity">' + (volprofit).toFixed(2) + '</td>';
            html += '<td class="price">' + (jita_index).toFixed(2) + '</td>';
            html += '<td class="price">' + (jita_prod).toFixed(2) + '</td>';
            html += '</tr>';
        }
        html += "</tbody></table>";
        $("#data").html(html);
        $("#thetable").tablesorter({
            widgets: ['zebra'],
            headers: {
                1: { sorter: 'digit' },
                2: { sorter: 'digit' },
                3: { sorter: 'percent' },
                4: { sorter: 'digit' },
                5: { sorter: 'digit' },
                6: { sorter: 'digit' },
                7: { sorter: 'digit' },
            },
        });
     }

     timeout = null;
     function filter_changed () {
         if (timeout) {
             clearTimeout(timeout);
         }
         timeout = setTimeout(write_table, 10);
     }

     write_table();
     $("#filter").attr("autocomplete", "off");
     $("#filter").keydown(filter_changed);
     $("#filter").focus();
});
</script>
<style type="text/css">
.data {
    border-collapse: collapse;
    border: 1px solid #AFAFAF;
}

.data th {
    background: #CFCFCF;
    border: #AFAFAF;
}

.data td {
    padding: 0 0.5em;
    white-space: nowrap;
}

.odd {
    background: #EFEFEF;
}

.qty, .price, .quantity, .singleprice, .sumprice, .totalprice {
    text-align: right;
}

.total th {
    text-align: left;
}

.modifier {
    margin-bottom: 1em;
}
</style>
{{enddef}}

<h2>Planetary Industry</h2>

<p>P1 production prices ignore the R0 market price and import tax.</p>

<p>Filter: <input type="text" id="filter" /></p>

<div id="data"></div>
