{{inherit "base.html"}}
{{py:pagename = 'pricecomparison'}}

{{def scriptheader}}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/js/calc.js"></script>
<script type="text/javascript">
$(function () {
    data = {{data|html}};
    function write_table () {
        html = '<table id="thetable" class="data"><thead><tr><th>Typename</th><th>Production</th><th>Heimatar</th><th>Profit</th><th>Volume Profit</th><th>Jita</th><th>Last Upload</th></tr></thead><tbody>';
        for (rowi in data) {
            row = data[rowi];
            tn = row[0]; prod = row[1]; heim = row[2]; vol = row[3];
            jita = row[4]; last = row[5];
            profit = (1-(prod/heim));
            volprofit = (heim - prod) * vol;
            html += '<tr>';
            html += '<td>' + tn + '</td>';
            html += '<td class="price">' + (prod).toFixed(2) + '</td>';
            html += '<td class="price">' + (heim).toFixed(2) + '</td>';
            html += '<td class="quantity">' + (profit*100).toFixed(2) + '%</td>';
            html += '<td class="quantity">' + (volprofit).toFixed(2) + '</td>';
            html += '<td class="price">' + (jita).toFixed(2) + '</td>';
            html += '<td>' + last + '</td>';
            html += '</tr>';
        }
        html += "</tbody></table>";
        $("#data").html(html);
        $("#thetable").tablesorter({
            widgets: ['zebra'],
            headers: {
                1: { sorter: 'digit' },
                2: { sorter: 'digit' },
                3: { sorter: 'percent' },
                4: { sorter: 'digit' },
                5: { sorter: 'digit' },
            },
        });
     }
     write_table();
});
</script>
<style type="text/css">
.data {
    border-collapse: collapse;
    border: 1px solid #AFAFAF;
}

.data th {
    background: #CFCFCF;
    border: #AFAFAF;
}

.data td {
    padding: 0 0.5em;
}

.odd {
    background: #EFEFEF;
}

.qty, .price, .quantity, .singleprice, .sumprice, .totalprice {
    text-align: right;
}

.total th {
    text-align: left;
}

.modifier {
    margin-bottom: 1em;
}
</style>
{{enddef}}

<h2>Price Comparison</h2>

<div id="data"></div>
