{% extends "gmi/base.html" %}
{% block scriptheader %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript">
var typeids = {{jsondata|safe}};
typeids.reverse();
var origlen = typeids.length + 1;
var pause = true;
var timeout = false;

function checktypes () {
    if (!pause && typeids.length > 0) {
        status("Running");
        CCPEVE.showMarketDetails(typeids.pop());
        timeout = setTimeout(checktypes, 3000);
    }
}
function toggle_pause () {
    if (timeout) {
        clearTimeout(timeout);
        timeout = false;
    }
    if (pause) {
        pause = false;
        timeout = setTimeout(checktypes, 3000);
        status("Running");
    } else {
        pause = true;
        status("Paused");
    }
}
function status (text) {
    $("#status").html(text + " (" +
                      (origlen - typeids.length) + " / " + (origlen - 1) +
                      ")");
}

$(function () {
    $('#totaltime').html(Math.round(((typeids.length * 3)/60)+0.5));
    status("Not running");
});

</script>
{% endblock %}

{% block content %}
<h2>Automatic Upload</h2>
{% if not igb %}

<p>This page would automatically upload index-relevant data if you
  would open it in the in-game browser...</p>

{% else %}

<p>This page will automatically open your market window with types to
  be uploaded for the index, once every 3 seconds. Please make sure
  that you have the <a href="../uploader/">Uploader Application</a>
  installed and running, that you <b>see the Price History tab in
  your market window</b>, and just hit the button below</p>

<p>The whole process will take about <span id="totaltime">18</span>
minutes.</p>

<p><b>Status:</b> <span id="status">Not running</span></p>

<button onClick="toggle_pause()">Check / Pause</button>

<p>Make sure your market window looks like this (note the <b>Price
    History</b> tab):</p>

<img src="/media/img/gmi/markethistory.png" />

{% endif %}
{% endblock %}
