{% extends "gmi/base.html" %}
{% load em %}

{% block scriptheader %}
<style type="text/css">
table.gmi tr th {
    text-align: center;
    font-weight: bold;
    background-color: #CFCFCF;
    border: 1px solid #AFAFAF;
}

.numetic {
    text-align: right;
}

.old, table.gmi tbody tr td.old {
    color: black;
    background-color: #FFEA7F;
}

.veryold, table.gmi tbody tr td.veryold {
    color: black;
    background-color: #FFB57F;
}

.never, table.gmi tbody tr td.never {
    color: black;
    background-color: #FF7F7F;
}
</style>
{% endblock %}


{% block content %}
<h2>Gradient Material Index</h2>

<p><span class="old">Yellow entries</span> have not been updated for
  over three days. <span class="veryold">Orange entries</span> have
  not been updated for a week or more. <span class="never">Red
  entries</span> have never been uploaded at all.</p>

<p>The index is also available in <a href="?format=csv">CSV</a> format
  to import into spreadsheets and in <a href="?format=xml">XML</a>
  format to be used in your own programs.</p>

<table class="data gmi">
{% for row in index_table %}
{% if row.row == 'header' %}
<tr><th colspan="8">{{row.header}}</th></tr>
<tr>
  <th>Typename</th><th>Index</th><th>Change</th><th>Volume</th>
  <th>Heimatar</th><th>Metropolis</th><th>Molden Heath</th><th>Jita</th>
</tr>
{% endif %}
{% if row.row == 'entry' %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{row.typename}}</td>
  <td class="numeric">{{row.entry.republic|floatcomma}}</td>
  <td class="numeric">{{row.entry.republicchange|percentagechange}}</td>
  <td class="numeric">{{row.entry.republicvolume|intcomma}}</td>
  <td class="numeric {{row.entry.heimatarclass}}">{{row.entry.heimatar|floatcomma}}</td>
  <td class="numeric {{row.entry.metropolisclass}}">{{row.entry.metropolis|floatcomma}}</td>
  <td class="numeric {{row.entry.moldenheathclass}}">{{row.entry.moldenheath|floatcomma}}</td>
  <td class="numeric {{row.entry.jitaclass}}">{{row.entry.jita|floatcomma}}</td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}
