{% extends "base.html" %}
{% block pagetitle %}Gradient Recruitment{% endblock %}
{% block title %}Gradient{% endblock %}
{% block subtitle %}<h2>Freedom Through Strength. Strength Through Industry.</h2>{% endblock %}
{% block recruitmentclass %} class="selected"{% endblock %}
{% block header %}
<style type="text/css">
#agent {
  float: right;
  margin: 0 0 1em 2em;
  border: 2px solid black;
  text-align: center;
  background: white;
}

#agent img {
  border-bottom: 1px solid black;
}
</style>
{% block appheader %}
{% endblock %}
{% endblock %}

{% block content %}
{% block appcontent %}
{% endblock %}
{% endblock %}
