{% extends "recruitment/base.html" %}

{% block appcontent %}
<img src="/media/img/hurricane-exhaust.jpg"
     style="float: right; margin: 0 0 0.5em 0.5em" />
<h1>Gradient Recruitment</h1>

<p>We are looking for pilots interested in supporting the Minmatar
Republic from outside of the Militia.</p>

<p>Gradient is a corporation loyal to the Minmatar Republic. We are a
professional unit of capsuleers supporting the Republic by creating a
strong industrial backbone as well as a strong combat force. Our
industrial operations span the whole Republic, and our combat
operations fight pirates, Amarrian Empire loyalists, and other
criminals.</p>

<h3>What We Require From Our Pilots</h3>

<ul>
  <li>Pod license for at least 14 days</li>
  <li>Willingness to work for and support the Minmatar Republic</li>
  <li>Willingness to adhere to our rules and regulations</li>
  <li>Willingness to constantly learn and aim to be good at what you
    do</li>
  <li>Willingness to learn how to operate during war times; we are
    often at war, and pride ourselves in our industrial activities not
    being affected much by that</li>
  <li>Due to security reasons, we do not hire pilots trained by Amarr
    academies</li>
</ul>

<h3>What We Offer</h3>

<ul>
  <li>An established corp with a lot of freedom to work with other
    pilots or alone to implement your own ideas and dreams</li>
  <li>No mandatory duties</li>
  <li>Regular industrial and combat operations</li>
  <li>Regular jobs requiring commitment for those who want them</li>
  <li>Advice and teaching in all aspects of a capsuleer's life</li>
  <li>A wide selection of products that our pilots can purchase at
    production cost</li>
  <li>A monthly salary for those who contribute to the corp</li>
</ul>

<h3>What We Do Not Offer</h3>

<ul>
  <li>Financing. While the corporation and alliance provide various
    ways to support you financially, those should be seen as a bonus,
    not as a requirement. You are expected to be self-sufficient.</li>
  <li>Guaranteed entertainment. While there are regular operations and
    jobs available, you should not rely on those as the only means to
    entertain yourself.</li>
  <li>Plans for 0.0. While we do sometimes fly to 0.0 space, in
    particular Great Wildlands, we are a corporation loyal to the
    Minmatar Republic. Our place is the Republic, and we have no plans
    whatsoever to change that.</li>
</ul>

<p>If you are interested in joining, please join our public channel
  "Gradient", and follow the "Apply Now" button below.</p>


<h3>(( Out Of Character Information ))</h3>

<p>Gradient is a roleplaying (RP) corporation. Our characters act as
if they really live in the EVE universe (as opposed to playing a
game).</p>

<p>We enjoy roleplay in the immersive style. All our channels,
including Corp and Alliance, are "in-character" (IC) unless
specifically stated otherwise and we play our characters in them. The
main focus of our roleplay is on our characters who slowly develop and
build interconnections related to events that happen during
gameplay.</p>

<p>Our characters are ordinary people from the EVE universe employed
by Gradient, a Republic loyalist capsuleer corporation - a
professional unit of a nation at war. If you would like to join us,
please make your character realistically employable. To maintain our
setting, we cannot hire obvious enemy spies, aspiring action heroes or
characters from other fiction.</p>

<p>The main goal of the corporation is to provide an RP environment
for mature people with lives. This also means that we believe in "RL
&gt; EVE" and will not hold it against you if your real life restricts
your ability to play EVE in any way.</p>

<p>You can find further explanations on our type of RP
  on <a href="http://www.electusmatari.com/forums/showthread.php?tid=3837">the
  alliance forums</a>.</p>

<p>We do not require previous RP experience, but we do require you to be
interested in roleplaying.</p>

<h2>Apply now</h2>

<p style="text-align: center">
<form action="/recruitment/apply/" method="get">
<input style="width: 10em; height: 3em" type="submit"
       value="Apply to Gradient" />
</form>
</p>
{% endblock %}
