{% extends "recruitment/base.html" %}

{% block appcontent %}
<h1>Authentication Required</h1>

<p>Thank you for your interest in the Gradient corporation. To start
  the application process, we would like to ask you to go to
  our <a href="http://www.electusmatari.com/">alliance and corp
  forums</a>, <b>register an account</b> and authenticate yourself
  using the <b>auth link in the top-right corner.</b>

<p>Once you have successfully authenticated there, please do return
  here to continue your application.</p>

<form method="get" action="">
  <input type="submit" value="I have authenticated myself on the forums!" />
</form>

{% endblock %}
