{{py:pagename = 'crimes'}}
{{inherit "base.html"}}

<h2>Political Crimes</h2>

<p>Political enemies are those groups that commit crimes against the
Republic and its non-capsuleer citizens.</p>

<dl>
<dt><b>Amarr Militia</b></dt>
<dd>Being a member of the Amarr Militia means that you have joined the
war effort against the Republic. This makes you an enemy of the
Republic and of the Electus Matari.</dd>

<dt><b>Slavery</b></dt>
<dd>Slavery is the crime of owning slaves, or obtaining and trading
them for the purpose of someone owning them. Slavery of our people is
a crime against the tribes, and makes you an enemy of the Electus
Matari.</dd>

<dt><b>Crimes Against the Tribes</b></dt>
<dd>Committing any other crimes against the tribes makes you an enemy
of the Republic and of the Electus Matari.</dd>

<dt><b>Support of Political Enemies</b></dt>
<dd>Any direct support of political enemies makes you guilty of the
same crimes they commit, and thus can also get you marked as an enemy
of the Electus Matari.</dd>
</dl>

<h2>Capsuleer Crimes</h2>

<p>These crimes are targeted against capsuleers. Commiting any of
these crimes within the Republic can get you set hostile to the
Electus Matari.</p>

<dl>
<dt><b>Piracy</b></dt>
<dd>Piracy is the act of breaking CONCORD regulations and attacking a
non-legal target. This usually happens in low-security space where
CONCORD does not respond and only sentries work, but "suicide ganking"
in high-security space is also piracy. Unless there are good reasons
for the attack, piracy is a crime.</dd>

<dt><b>Unprovoked Wars</b></dt>
<dd>An unprovoked war is a CONCORD war declaration on a target without
a good reason. This includes wars for the purpose of extorting money
and wars declared "just for fun." We consider such an abuse of the
lenience of CONCORD to be a crime.</dd>

<dt><b>Claiming of Republic space</b></dt>
<dd>Denying neutrals the right to use unused resources in the Republic
is grounds for hostile standings. This crime refers to attacking neutrals
simply for entering specific systems as well as excluding neutrals from
access to planetary customs offices.</dd>

<dt><b>Petty Crimes</b></dt>
<dd>A petty crime is any small-scale crime that CONCORD does not
sanction fully themselves. This includes the sad attempts to lure
unsuspecting or rookie capsuleers into waiving CONCORD protection so
the aggressor can destroy their ship ("can baiting" etc.) as well as
theft of ore, loot, and salvage.</dd>

<dt><b>Support of Criminals</b></dt>
<dd>Any direct support of a criminal enemy makes you guilty of the
same crimes they commit.</dd>
</dl>

<h2>Other</h2>

<dl>
<dt><b>Aggression</b></dt>
<dd>Aggressing a member of Electus Matari or our close allies
anywhere, including outside of the Republic, can get you set
hostile.</dd>
</dl>
