{{inherit "base.html"}}
{{py:pagename = 'contracts'}}

{{for state in states}}
<h2>State: {{state.title()}}</h2>

{{for o in contracts}}
{{if o.state == state}}
<div class="order">
<h3><a href="/market/contracts/{{o.id}}/">Contract #{{o.id}} by
    {{o.creator}} ({{o.created|eve_time}})</a>
{{if o.handler == user.username}}
{{for newstate in nextstates[o.state]}}
<form method="post" action="">
<input type="hidden" name="state" value="{{newstate}}" />
<input type="hidden" name="contractid" value="{{o.id}}" />
<input type="submit" value="Mark as {{newstate.title()}}" />
</form>
{{endfor}}
{{endif}}
</h3>

<table>
<tr><td>Status:</td><td>{{o.state}}</td></tr>
<tr><td>Creator:</td><td>{{o.creator}}</td></tr>
<tr><td>Handler:</td><td>{{o.handler}}</td></tr>
<tr><td>Queue:</td><td>{{o.queue}}</td></tr>
</table>

<p><b>Contract text:</b></p>

<p>{{o.contracttext|addbr}}</p>

{{if o.lastcomment}}
<p><b>Last Comment:</b></p>
<p>
<blockquote><cite><span> ({{o.lastcomment.created|eve_time}})</span>{{o.lastcomment.author}} Wrote:</cite>
{{o.lastcomment.comment|addbr}}
</blockquote>
</p>
{{endif}}
</div>

{{endif}}
{{endfor}}
{{endfor}}
