{{inherit "base.html"}}
{{py:pagename = 'createorder'}}

<h2>Create Order</h2>

<form method="post" action="">
<table>
<tr><td>Item:</td><td><input type="text" name="item" /></td></tr>
<tr><td>Amount:</td><td><input type="text" name="amount" class="numeric" /></td></tr>
<tr><td>Price:</td><td><input type="text" name="price" class="numeric" />&nbsp;ISK</td></tr>
<tr><td>Comment:</td><td><input type="text" maxlength="32" name="comment" /></td></tr>
<tr><td>Type:</td><td><select name="type"><option value="sell" selected="1">WTS</option><option value="buy">WTB</option></select></td></tr>
<tr><td>Expires&nbsp;in:</td><td><input type="text" name="expires" value="30" />&nbsp;days</td></tr>
</table>
<input type="submit" value="Create" />
</form>
