{{inherit "base.html"}}
{{py:pagename = 'order'}}

<h2>Order #{{order.id}}, {{eve_time(order.created)}}</h2>
<form method="post" action="">

<table>
<tr><td>Customer:</td><td><input type="text" name="customer"
                                 value="{{order.customer}}" /></td></tr>
<tr><td>Source:</td>
  <td>
    <select name="source">
      {{for permission, name, desc in sources}}
      {{if not permission or user.has_permission(permission)}}
      <option value="{{name}}" {{if order.source == name}}selected="1"{{endif}}>{{name}}</option>
      {{endif}}
      {{endfor}}
    </select>
  </td>
</tr>
<tr><td>Status:</td>
  <td>
    <select name="state">
      {{for name in states}}
      <option value="{{name}}" {{if order.state == name}}selected="1"{{endif}}>{{name}}</option>
      {{endfor}}
    </select>
  </td>
</tr>
<tr><td>Producer:</td><td><input type="text" name="producer"
                                 value="{{order.producer}}" /></td></tr>
<tr><td>Price:</td><td><input type="text" name="price" class="numeric"
                              value="{{order.price}}" /></td></tr>
</table>

<p><b>Order text:</b></p>
<textarea name="ordertext" cols="40" rows="10">
{{order.ordertext}}
</textarea>

<br />
<input type="submit" value="Save" />

</form>
