{{inherit "base.html"}}
{{py:pagename = 'market'}}
{{py:rss = '/market/rss/'}}

<h2>Electus Matari Alliance Market</h2>

<p>Choose <b>Create Buy Order</b> to order an item from Electus
  Matari. Check <b>Your Buy Orders</b> to see the state of your
  orders.</p>

{{if user.has_permission('em')}}
<p>The following sell orders are only available to the alliance at
  special alliance prices and for personal use only, <i>not for
  re-sale.</i></p>

<form method="post" action="">
<table class="market">
<tr class="even">
  <th>Order</th>
  <th>Amount</th>
  <th><a href="?sort=item">Item</a></th>
  <th>Price</th>
  <th>Owner</th>
  <th>Comment</th>
  <th><a href="?sort=age">Age</a></th>
</tr>

{{for loop, sale in looper(sales)}}
<tr class="{{if loop.even}}even{{else}}odd{{endif}}">
  <td>
    {{if sale.owner == user.username}}
    <input type="submit" name="cancel{{sale.id}}" value="Cancel" />
    {{else}}
    <input type="text" class="numeric" name="order{{sale.id}}" size="3" />
    {{endif}}
  </td>
  <td class="number">{{sale.amount|humane}}</td>
  <td>{{sale.item|addnbsp}}</td>
  <td class="number">{{sale.price|humane}}</td>
  <td>{{sale.owner|addnbsp}}</td>
  <td>{{sale.comment|addnbsp}}</td>
  <td class="number">{{sale.age|humane}}d</td>
</tr>
{{endfor}}

</table>
<br />
<input type="submit" value="Create Order" />
</form>

{{endif}}
