{{inherit "../base.html"}}

{{def title}}
Admin Panel
{{enddef}}

<h2>Add Permission</h2>

<form method="post" action="">
  <input type="hidden" name="action" value="add" />
  User: <input type="text" name="username" value="" />
  Permission: <input type="text" name="permission" value="" />
  <br />
  <input type="submit" value="Add" />
</form>

<h2>Existing Permissions</h2>

{{py:lastperm=None}}
{{for loop, perm in looper(permissions)}}
{{if perm.permission != lastperm}}
{{if lastperm}}
</ul>
{{endif}}
{{py:lastperm = perm.permission}}
<h3>Permission: {{perm.permission}}</h3>
<ul>
{{endif}}
<li>
  {{perm.username}}
  <form method="post" action="">
    <input type="hidden" name="action" value="remove" />
    <input type="hidden" name="username" value="{{perm.username}}" />
    <input type="hidden" name="permission" value="{{perm.permission}}" />
    <input type="submit" value="Remove" />
  </form>
</li>
{{endfor}}
</ul>
