{% extends "base.html" %}
{% block pagetitle %}Gradient{% endblock %}
{% block title %}Gradient{% endblock %}
{% block subtitle %}<h2>Authentication Required</h2>{% endblock %}
{% block employeesclass %} class="selected"{% endblock %}

{% block content %}
<h1>Authentication Required</h1>

<p>The page you were trying to access is only available to Gradient
  members. If you are an employee of Gradient, you will need to log in
  to the <a href="http://www.electusmatari.com/forums/">Electus Matari
  forums</a> to get access.</p>

<p>If you <em>have</em> authenticated on the alliance forums and this
  still happens, try to delete all cookies (Firefox: right-click on
  the page, View Page Info, Security, View Cookies, "Remove All
  Cookies") and log in again. If that still does not help, contact
  Arkady Sadik.</p>
{% endblock %}
