{% extends "emauth/base.html" %}

{% block content %}
{% if user.profile.name %}
<h1>Authentication</h1>

<table>
<tr><th>Name:</th><td>{{user.profile.name}}</td></tr>
<tr><th>Corp:</th><td>{{user.profile.corp}}</td></tr>
<tr><th>Alliance:</th><td>{{user.profile.alliance}}</td></tr>
<tr><th>Last&nbsp;check:</th><td>{{user.profile.last_check|date:"Y-m-d H:i:s"}}</td></tr>
</table>
{% endif %}

{% if user.profile.active %}
<h2>Re-Authenticate</h2>

<p>If the details above have changed, and you would rather not have to
  wait for the next scheduled authentication check, you can force a
  revalidation right away.</p>

<form action="" method="post">
<input type="submit" value="Re-Authenticate" />
</form>
{% else %}
{% if user.profile.characterid %}
<h2>Returning User</h2>

<p>Your forum account is currently marked as inactive. This means that
  during the last attempt to verify your identity, you were not a
  member of any corp or alliance that should have extra access to
  these forums. If you have joined a corp or alliance again that
  should give you extra access, please request a reauthorization
  below.</p>

<form action="" method="post">
<input type="submit" value="Re-Authenticate" />
</form>
{% else %}
<h2>New User</h2>

<p>Electusmatari.com has not verified that you really own this
  account. To verify that you indeed own the character
  <em>{{user.profile.mybb_username}},</em> please supply your
  (limited) API key in the form below. The key is not stored. You can
  verify in your <a href="https://www.eveonline.com/api/log.asp">API
  log</a> that this site only requested
  the <tt>/account/Characters.xml.aspx</tt> page. Once your account is
  authenticated, you can invalidate the API key again.</p>

<p>You can get your limited API key on
  the <a href="https://www.eveonline.com/api/">official EVE site</a>.
  Please make sure that you use the <em>limited</em> API key only.</p>

<ul>
<li><a href="https://www.eveonline.com/api/">Get your API key</a></li>
<li><a href="https://www.eveonline.com/api/log.asp">API log</a></li>
</ul>

<form method="post" action="">
<table>
<tbody>
<tr><th><label for="id_userid">User ID:</label></th>
<td>{{form.userid.errors}}
{{form.userid}}
<em>Looks like this: 2372646 (NOT your account name!)</em>
</td></tr>
<tr><th><label for="id_apikey">API Key:</label></th>
<td>{{form.apikey.errors}}
{{form.apikey}}
<em>Looks like this: qSSRCN6te6VljblrHW3Shqj2VqmJXajuySJHVTk1j4rCspqJodncgI4EBr6To21H</em>
</td></tr>
<tr><td colspan="2"><input type="submit" value="Update my API details" /></td></tr>
</tbody>
</table>
</form>
{% endif %}
{% endif %}

{% endblock %}
