{% extends "base.html" %}
{% block pagetitle %}Gradient{% endblock %}
{% block title %}Gradient{% endblock %}
{% block subtitle %}<h2>Freedom Through Strength. Strength Through Industry.</h2>{% endblock %}
{% block aboutclass %} class="selected"{% endblock %}

{% block content %}
<img src="/media/img/hq.jpg"
     style="float: right; margin: 0 0 0.5em 0.5em" />
<h1>Gradient Corporation</h1>

<p>Gradient is a corporation loyal to the Minmatar Republic. As such,
  we obey and uphold its laws, policies, and international treaties,
  and work for its continued and increased safety, prosperity, and
  freedom. We support the Republic in both war and peace. We fight her
  wars, but never forget that as much as fighters need ships, citizens
  and refugees need homes, and the Republic still needs to be strong
  once the war is over.</p>

<p>We have extensive industrial experience and produce ships and
  modules of all sizes and tech levels. Pilots, corporations and
  alliances that support the Republic can use our industrial backbone
  using our shop&mdash;see the <b>Shop</b> link in the menu.</p>

<p>In addition, we do have experienced combat pilots and fleet
  commanders, and we regularly patrol Republic space for criminals and
  other hostiles.</p>

<p>We are recruiting pilots loyal to the Republic. See
  the <b>Recruitment</b> link in the menu.</p>

<p style="font-size: small; font-style: italic; margin-top:
  5em">Gradient is a roleplaying corporation in the fictional universe
  of <a href="http://www.eveonline.com/">EVE Online</a>.</p>

{% endblock %}
