{{inherit "../base.html"}}

{{def scriptheader}}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/separators.js"></script>
{{enddef}}

{{def title}}
Electus Matari: Alliance Market
{{enddef}}

{{def tabs}}
<ul class="tabs">
  <li {{if pagename == 'wts'}}class="active"{{endif}}><a href="/market2/">WTS</a></li>
  <li {{if pagename == 'wtb'}}class="active"{{endif}}><a href="/market2/wtb/">WTB</a></li>
  <li {{if pagename == 'createorder'}}class="active"{{endif}}><a href="/market2/create/">Create Order</a></li>
  <li {{if pagename == 'contracts'}}class="active"{{endif}}><a href="/market2/contracts/">Contracts</a></li>
{{if 0}}
  <li {{if pagename == 'createcontract'}}class="active"{{endif}}><a href="/market2/contracts/create/">Create Contract</a></li>
{{endif}}
</ul>
{{enddef}}

{{self.body|html}}
