{{inherit "base.html"}}
{{py:pagename = 'contracts'}}

<h2>Contract #{{contract.id}}, {{eve_time(contract.created)}}</h2>
<table>
<tr><td>Creator:</td><td>{{contract.creator}}</td></tr>
<tr><td>Queue:</td><td>{{contract.queue}}</td></tr>
<tr><td>Status:</td><td>{{contract.state}}</td></tr>
<tr><td>Handler:</td><td>{{contract.handler}}</td></tr>
</table>

<p><b>Contract text:</b></p>

{{contract.contracttext|addbr}}

<p><b>Comments:</b></p>

{{for c in comments}}
<p>
<blockquote><cite><span> ({{c.created|eve_time}})</span>{{c.author}} Wrote:</cite>
{{c.comment|addbr}}
</blockquote>
</p>
{{endfor}}

<p><b>Add Comment:</b></p>

<form method="post" action="">
<textarea name="comment" cols="60" rows="10">
</textarea><br />
<input type="submit" value="Add Comment" />
</form>
