{{inherit "base.html"}}
{{py:
if type == 'sell':
    pagename = 'wts'
else:
    pagename = 'wtb'
}}
{{py:rss = '/market2/rss/'}}

<h2>Electus Matari Alliance Market</h2>

{{if type == 'sell'}}
<p>The following orders are only available to the alliance at special
  alliance prices and for personal use only, <i>not for
  re-sale.</i></p>
{{endif}}

<form method="post" action="">
<table class="market">
<tr class="even">
  <th>Order</th>
  <th>Amount</th>
  <th><a href="?sort=item">Item</a></th>
  <th>Price</th>
  <th>Owner</th>
  <th>Comment</th>
  <th><a href="?sort=age">Age</a></th>
</tr>

{{for loop, order in looper(orders)}}
<tr class="{{if loop.even}}even{{else}}odd{{endif}}">
  <td>
    {{if order.owner == user.username}}
    <input type="submit" name="cancel{{order.id}}" value="Cancel" />
    {{else}}
    <input type="text" class="numeric" name="order{{order.id}}" size="3" />
    {{endif}}
  </td>
  <td class="number">{{order.amount|humane}}</td>
  <td>{{order.item|addnbsp}}</td>
  <td class="number">{{order.price|humane}}</td>
  <td>{{order.owner|addnbsp}}</td>
  <td>{{order.comment|addnbsp}}</td>
  <td class="number">{{order.age|humane}}d</td>
</tr>
{{endfor}}
</table>
<br />
{{if type == 'sell'}}
<input type="submit" value="Buy These Items" />
{{else}}
<input type="submit" value="Sell These Items" />
{{endif}}
</form>
