{% extends "index/base.html" %}

{% block scriptheader %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/calc.js"></script>
<script type="text/javascript">
$(function () {
    calculator($("#result"), $("#search"), $("#data"),
               {{jsondata|safe}});
});
</script>
<style type="text/css">
#searchdiv {
  margin: 0.5em 0;
}
</style>
{% endblock %}

{% block indexcontent %}
<h2>Gradient Material Index Calculator</h2>

<div style="float: right; margin: 2.4em 0 0 1em; width: 50%">
<div id="result"></div>
</div>

<div style="width: 50%">
<div id="searchdiv"><span style="white-space: nowrap">Search:
<input type="text" id="search"></input>
</span></div>

<div id="data"></div>
</div>
<div style="clear: both">
{% endblock %}
