{% extends "index/base.html" %}

{% block indexcontent %}
<h1>Documentation</h1>

<p>The Gradient Material Index describes the current market prices of
  various production-relevant materials in the Republic. It is used by
  Gradient for purchase and sale. We buy minerals and many other
  materials at index price in our production offices.</p>

<p>While the index also gives the region-specific prices and also the
  Jita price, this is mostly for convenience and as a quick reference.
  Although when there is not enough trade in a material in the
  Republic, we fall back to the Jita price.</p>

<h2>Index Source</h2>

<p>The index is calculated as the 7-day average of all material
  purchases and sales in the Republic proper (Heimatar, Metropolis and
  Molden Heath). This refers to the <em>market history</em> in your
  neocom, not the currently available orders. The 7-day average gives
  some robustness against sporadic fluctuations.</p>

<p>The data is regularly uploaded by our pilots. This sometimes can
  result in slightly outdated data. The index marks prices based on
  data older than 3 days with an orange exclamation mark, and prices
  based on data older than 7 days with a red exclamation mark. You can
  hover your cursor over the exclamation marks to see details.</p>

<h2>Algorithm</h2>

<p>The <em>price</em> for a region is calculated as the average price
  (weighted by volume of course) of the last 7 days that actually had
  a transaction. The <em>volume</em> of a region is the actual
  transaction volume in the last 7 days, regardless of whether a
  transaction happened or not.</p>

<p>The Republic index then is calculated as the average of those
  prices of the Republic regions, weighted by those volumes. If the
  total volume here sums up as less than 1% of the trade volume in
  Jita, we default to the Jita price.</p>

{% endblock %}
